.request-container {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 500px;
  .request-content {
    max-width: 1196px;
    width: 100%;
    padding-right: 0.75em;
    padding-left: 0.75em;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
    .request-title {
      margin-bottom: 20px;
      line-height: 1.36;
      font-size: 30px;
      color: #1d5193;
      font-weight: 700 !important;
    }
    .request-table {
      background: aliceblue;
      height: 550px;
      .section {
        display: flex;
        flex-direction: column;
        height: 100%;
        .filter {
          padding: 10px 0 8px 0;
          border: 1px solid #ced4da;
          border-radius: 5px 5px 0 0;
          .filter-form {
            display: flex;
            justify-content: space-around;
            .col1 {
              flex: 0 0 auto;
              width: 16%;
              padding-right: calc(1.5em * 0.5);
              padding-left: calc(1.5em * 0.5);
              margin-top: 0;

              .form-control {
                display: block;
                width: 100%;
                padding: 0.375em 0.75em;
                font-size: 1em;
                font-weight: 400;
                line-height: 1.5;
                color: #212529;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border-radius: 0.375em;
                transition:
                  border-color 0.15s ease-in-out,
                  box-shadow 0.15s ease-in-out;
              }
              .form-select {
                display: block;
                width: 100%;
                padding: 0.375em 2.25em 0.375em 0.75em;
                -moz-padding-start: calc(0.75em - 3px);
                font-size: 1em;
                font-weight: 400;
                line-height: 1.5;
                color: #212529;
                background-color: #fff;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-position: right 0.75em center;
                background-size: 16px 12px;
                border: 1px solid #ced4da;
                border-radius: 0.375em;
                transition:
                  border-color 0.15s ease-in-out,
                  box-shadow 0.15s ease-in-out;

                appearance: none;
              }
              .search-button {
                display: block;
                width: 100%;
                padding: 0.375em 0.75em;
                font-size: 1em;
                font-weight: 400;
                line-height: 1.5;
                color: #fff;
                background-color: #0d6efd;
                border-radius: 0.375em;
                cursor: pointer;
                &:hover {
                  background-color: #0a58ca;
                }
              }
            }
          }
        }
        .table-content {
          flex-grow: 1;
          margin: 0;
          overflow: scroll;
          .top-content {
            height: 100%;
            background: #fff;
            .table-header {
              display: block;
              border: 1px solid #eee;
              border-top: none;
              .row {
                border-bottom: none;
                display: flex;
                text-align: center;
                font-weight: 700;
                .row-data {
                  border-right: none;
                  width: 5%;
                  padding: 13px 5px;
                  color: #233454;
                }
                .row-data1 {
                  border-right: none;
                  width: 20%;
                  padding: 13px 5px;
                  color: #233454;
                }
              }
            }
            .table-body {
              display: block;
              background-color: #fff;
              .body-row {
                display: flex;
                border: 1px solid #eee;
                border-top: none;
                text-align: center;
                align-items: center;
                .body-row-data {
                  width: 5%;
                  color: #233454;
                  padding: 15px 10px;
                }
                .body-row-data1 {
                  border-right: none;
                  width: 19%;
                  padding: 15px 10px;
                  color: #233454;
                  .download {
                    font-size: 20px;
                    color: #198754;
                    &:hover {
                      color: red;
                    }
                  }
                }
                .body-button {
                  flex-grow: 1;
                  display: flex;
                  justify-content: space-evenly;
                  .ok-button {
                    background-color: transparent;
                    color: #198754;
                    border: 1px solid #198754;
                    border-radius: 0.25em;
                    padding: 0.3em 1.2em;
                    font-size: 0.875em;
                    &:hover {
                      background-color: #198754;
                      color: #fff;
                    }
                  }
                  .reject-button {
                    background-color: transparent;
                    color: red;
                    border: 1px solid red;
                    border-radius: 0.25em;
                    padding: 0.3em 1.2em;
                    font-size: 0.875em;
                    &:hover {
                      background-color: red;
                      color: #fff;
                    }
                  }
                }
              }
            }
            .pagination-container {
              margin: 8px 0 16px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

.loading-animation {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 739px) {
  .request-container {
    .request-content {
      .request-table {
        .section {
          .filter {
            .filter-form {
              display: flex;
              justify-content: space-evenly;
              flex-direction: column;
              .col1 {
                width: 100%;

                margin-top: 1em;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1023px) and (min-width: 740px) {
  .request-container {
    .request-content {
      .request-table {
        .section {
          .filter {
            .filter-form {
              .col1 {
                width: 25%;
              }
            }
          }
        }
      }
    }
  }
}
